<!-- Validation failure messages -->
<% if @team.errors.any? %>
  <% @team.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Team #<%= @team.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_team/<%= @team.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for school_id -->
      <div class="form-group">
        <label for="school_id" class="control-label">
          School
        </label>

        <input type="text" id="school_id" name="school_id" placeholder="School" class="form-control" value="<%= @team.school_id %>">
      </div>

      <!-- Label and input for tournament_id -->
      <div class="form-group">
        <label for="tournament_id" class="control-label">
          Tournament
        </label>

        <input type="text" id="tournament_id" name="tournament_id" placeholder="Tournament" class="form-control" value="<%= @team.tournament_id %>">
      </div>

      <!-- Label and input for player_1_name -->
      <div class="form-group">
        <label for="player_1_name" class="control-label">
          Player 1 name
        </label>

        <input type="text" id="player_1_name" name="player_1_name" placeholder="Player 1 name" class="form-control" value="<%= @team.player_1_name %>">
      </div>

      <!-- Label and input for player_2_name -->
      <div class="form-group">
        <label for="player_2_name" class="control-label">
          Player 2 name
        </label>

        <input type="text" id="player_2_name" name="player_2_name" placeholder="Player 2 name" class="form-control" value="<%= @team.player_2_name %>">
      </div>

      <!-- Label and input for player_3_name -->
      <div class="form-group">
        <label for="player_3_name" class="control-label">
          Player 3 name
        </label>

        <input type="text" id="player_3_name" name="player_3_name" placeholder="Player 3 name" class="form-control" value="<%= @team.player_3_name %>">
      </div>

      <!-- Label and input for player_4_name -->
      <div class="form-group">
        <label for="player_4_name" class="control-label">
          Player 4 name
        </label>

        <input type="text" id="player_4_name" name="player_4_name" placeholder="Player 4 name" class="form-control" value="<%= @team.player_4_name %>">
      </div>

      <!-- Label and input for player_5_name -->
      <div class="form-group">
        <label for="player_5_name" class="control-label">
          Player 5 name
        </label>

        <input type="text" id="player_5_name" name="player_5_name" placeholder="Player 5 name" class="form-control" value="<%= @team.player_5_name %>">
      </div>

      <button class="btn btn-warning">
        Update Team
      </button>
      or
      <a href="/teams/<%= @team.id %>">Cancel</a>
    </form>
  </div>
</div>
