<div class="page-header">
  <h1>
    Tournaments
    <a href="/tournaments/new" class="btn btn-lg btn-success">New Tournament</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>

      <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.name %></td>
        <td><%= tournament.location %></td>
        <td><%= tournament.date %></td>
        <td>
          <a href="/tournaments/<%= tournament.id %>" class="btn btn-primary">Show Details</a>
          <a href="/tournaments/<%= tournament.id %>/edit" class="btn btn-warning">Edit</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
