<!-- Validation failure messages -->
<% if @game.errors.any? %>
<% @game.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Edit Game #<%= @game.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_game/<%= @game.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for team_a_id -->
      <div class="form-group">
        <label for="team_a_id" class="control-label">
          My Team
        </label>

        <%= select_tag(:team_a_id, options_from_collection_for_select( Team.where(school_id: current_school.id), :id, :team_name, @game.team_a_id), :class => "form-control") %>

      </div>

      <!-- Label and input for team_b_id -->
      <div class="form-group">
        <label for="team_b_id" class="control-label">
          Opponent
        </label>

        <%= select_tag(:team_b_id, options_from_collection_for_select( Team.where.not(school_id: current_school.id), :id, :team_name, @game.team_b_id), :class => "form-control") %>
      </div>

      <!-- Hidden inputs for scores -->
      <!-- In edit page, inherit existing scores rather than reset to 0 -->
      <input type="hidden" id="team_a_score" name="team_a_score"  value="<%= @game.team_a_score %>">
      <input type="hidden" id="team_b_score" name="team_b_score"  value="<%= @game.team_b_score %>">
    </div>

    <button class="btn btn-warning">
      Update Game
    </button>
    or
    <a href="/games/<%= @game.id %>">Cancel</a>
  </form>
</div>
</div>
